@model GenerateurDFUSafir.Models.DataOperateurProd
@{
    ViewBag.Title = "ConnexionOperateur";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/ConnexionOperateur.css" rel="stylesheet" />
}

<body onload="init()">
    <div id="fondTransparent"></div>
    <div id="login-container">
        <div id="top">
            <h2 id="title">ConnecZEN</h2>
        </div>
        <div id="BarreSeparation"></div>
        <div id="profil">
            <img src="@Model.Photo" id="photo-profil" />
            <div class="nom-op">
                <strong>@Model.Nom</strong> @Model.Prenom
            </div>
        </div>

        <form method="post" action="@Url.Action("ConnexionOperateur", "Production")" id="login-form">
            <input type="hidden" name="id" value="@Model.ID" />
            <input type="password" id="motdepasse" name="motdepasse" readonly />

            <div id="digicode">
                @for (int i = 1; i <= 9; i++)
                {
                    <button type="button" onclick="ajouterChiffre('@i')">@i</button>
                }
                <button type="button" onclick="supprimerDernier()">⌫</button>
                <button type="button" onclick="ajouterChiffre('0')">0</button>
                <button type="submit">✔️</button>
            </div>
        </form>
        @if (ViewBag.Erreur != null)
        {
            <div class="alert alert-danger">@ViewBag.Erreur</div>
        }

        <div id="admin-link">
            <a id="admin-text" href="@Url.Action("ConnexionAd", "Production", new { id = Model.ID })">Accès Admin</a>
        </div>
    </div>

</body>

<script>
    function ajouterChiffre(c) {
        const input = document.getElementById("motdepasse");
        input.value += c;
    }

    function supprimerDernier() {
        const input = document.getElementById("motdepasse");
        input.value = input.value.slice(0, -1);
    }
</script>



