@model GenerateurDFUSafir.Models.InfoDATAQRQC
@{
    ViewBag.Title = "ListeQRQC";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/ListQRQC.css" rel="stylesheet" />
}
<div id="QRQCDiv">
    <div id="topInfos">
        <h2>Liste des QRQC</h2>
    </div>

    <div class="btn-container">
        <button type="button"
                class="btn btn-orange"
                id="btnNewQRQC"
                onclick="window.location.href='@Url.Action("QRQC", "Production", null)'">
            Créer un nouveau QRQC
        </button>
    </div>

</div>


    <table class="qrqc-table">
        <thead>
            <tr>
                <th>Date Ouverture</th>
                <th class="Affichage">Date Clôture</th>
                <th class="Affichage">Date de Suivi</th>
                <th>Pilote</th>
                <th>Participants</th>
                <th class="Affichage">Origine</th>
                <th>Accès</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ListQRQC.Count; i++)
            {
                var qrqc = Model.ListQRQC[i];
                var rowClass = i % 2 == 0 ? "even-row" : "odd-row";
                <tr class="@rowClass">
                    <td>@qrqc.DateOuvertureString</td>
                    <td class="Affichage">@qrqc.DateClotureString</td>
                    <td class="Affichage">@qrqc.DateSuivisString</td>
                    <td>@qrqc.Pilote</td>
                    <td>@qrqc.Participants</td>
                    <td class="Affichage">@qrqc.Origine</td>
                    <td>
                        <a class="btn btn-outline-orange" href="@Url.Action("QRQC", "Production", new { id = qrqc.ID })">Accès QRQC</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/clock.js" charset="utf-8"></script>
</div>

