@model GenerateurDFUSafir.Models.Production
@{
    ViewBag.Title = "Production";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/homeProd.css" rel="stylesheet" />

    string Date = DateTime.Now.Date.AddDays(-1).ToString();
}

@for (int i = 1; i <= int.Parse(Date.Substring(0, 2)); i++)
{
    <style type="text/css">
        #Case_@i{
            background : @Model.CouleurCaseParJour[i];
            color : white;
        }
    </style>
}

<body>
    <main id="contenuPage" style="">

        <div id="infoProd">
            <div id="bandeau">
                <div class="">
                    <img src="~/image/logo.png" alt="logo" width="350px">
                </div>
                <div id="animation">
                    <div id="ligne-1-animation">
                        @for (int i = 0; i < (Model.ListOperateur.Count() + 1) / 2; i++)
                        {
                            <img src=@(".."+ Model.ListOperateur[i]) alt="user" id="@("user"+i.ToString())" class="prodPic">
                        }
                    </div>
                    <div id="ligne-2-animation">
                        @for (int i = (Model.ListOperateur.Count() + 1) / 2; i < Model.ListOperateur.Count(); i++)
                        {
                            <img src=@(".." +Model.ListOperateur[i]) alt="user" id="@("user"+i.ToString())" class="prodPic">
                        }
                    </div>
                </div>
            </div>
            <div id="topInfos">
                <h1 id="mainTitle">Accueil ProductZEN</h1>
            </div>
            <hr />
            <!-- colonne de gauche -->
            <div id="securite-qualite">
                <!-- premiere ligne colonne de gauche -->
                <div id="securite">

                    <div id="green-cross">
                        <h3>Green Cross</h3>
                        <div id="greenCross">
                            @if (@Model.NbJourDuMois == 31)
                            {
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase left "></div>
                                    <div class="greenCrossCase topleft"></div>
                                    <div class="greenCrossCase" runat="server" id="Case_1">1</div>
                                    <div class="greenCrossCase topright" runat="server" id="Case_2">2</div>
                                    <div class="greenCrossCase hiddenCase right"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase top"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                    @for (int i = 3; i <= 5; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase top"></div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase topleft" runat="server" id="Case_6">6</div>
                                    @for (int i = 7; i <= 11; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase topright" runat="server" id="Case_12">12</div>
                                </div>
                                <div class="greenCrossRow">
                                    @for (int i = 13; i <= 19; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase bottomleft" runat="server" id="Case_20">20</div>
                                    @for (int i = 21; i <= 25; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase bottomright" runat="server" id="Case_26">26</div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase bottom"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                    @for (int i = 27; i <= 29; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase bottom"></div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase left"></div>
                                    <div class="greenCrossCase bottomleft" id="Case_30">30</div>
                                    <div class="greenCrossCase" id="Case_31">31</div>
                                    <div class="greenCrossCase bottomright"></div>
                                    <div class="greenCrossCase hiddenCase right"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                </div>
                            }
                            else if (@Model.NbJourDuMois == 30)
                            {
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase left "></div>
                                    <div class="greenCrossCase topleft"></div>
                                    <div class="greenCrossCase" runat="server" id="Case_1">1</div>
                                    <div class="greenCrossCase topright" runat="server" id="Case_2">2</div>
                                    <div class="greenCrossCase hiddenCase right"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase top"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                    @for (int i = 3; i <= 5; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase top"></div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase topleft" runat="server" id="Case_6">6</div>
                                    @for (int i = 7; i <= 11; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase topright" runat="server" id="Case_12">12</div>
                                </div>
                                <div class="greenCrossRow">
                                    @for (int i = 13; i <= 19; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase bottomleft" runat="server" id="Case_20">20</div>
                                    @for (int i = 21; i <= 25; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase bottomright" runat="server" id="Case_26">26</div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase bottom"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                    @for (int i = 27; i <= 29; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase bottom"></div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase left"></div>
                                    <div class="greenCrossCase bottomleft" id="Case_30">30</div>
                                    <div class="greenCrossCase"></div>
                                    <div class="greenCrossCase bottomright"></div>
                                    <div class="greenCrossCase hiddenCase right"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                </div>
                            }
                            else if (@Model.NbJourDuMois == 29)
                            {
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase left "></div>
                                    <div class="greenCrossCase topleft"></div>
                                    <div class="greenCrossCase"></div>
                                    <div class="greenCrossCase topright" runat="server" id="Case_1">1</div>
                                    <div class="greenCrossCase hiddenCase right"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase top"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                    @for (int i = 2; i <= 4; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase top"></div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase topleft" runat="server" id="Case_5">5</div>
                                    @for (int i = 6; i <= 10; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase topright" runat="server" id="Case_11">11</div>
                                </div>
                                <div class="greenCrossRow">
                                    @for (int i = 12; i <= 18; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase bottomleft" runat="server" id="Case_19">19</div>
                                    @for (int i = 20; i <= 24; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase bottomright" runat="server" id="Case_25">25</div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase bottom"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                    @for (int i = 26; i <= 28; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase bottom"></div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase left"></div>
                                    <div class="greenCrossCase bottomleft" id="Case_29">29</div>
                                    <div class="greenCrossCase"></div>
                                    <div class="greenCrossCase bottomright"></div>
                                    <div class="greenCrossCase hiddenCase right"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                </div>
                            }
                            else
                            {
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase left "></div>
                                    <div class="greenCrossCase topleft"></div>
                                    <div class="greenCrossCase"></div>
                                    <div class="greenCrossCase topright" runat="server" id="Case_1">1</div>
                                    <div class="greenCrossCase hiddenCase right"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase top"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                    @for (int i = 2; i <= 4; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase top"></div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase topleft" runat="server" id="Case_5">5</div>
                                    @for (int i = 6; i <= 10; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase topright" runat="server" id="Case_11">11</div>
                                </div>
                                <div class="greenCrossRow">
                                    @for (int i = 12; i <= 18; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase bottomleft" runat="server" id="Case_19">19</div>
                                    @for (int i = 20; i <= 24; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase bottomright" runat="server" id="Case_25">25</div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase bottom"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                    @for (int i = 26; i <= 28; i++)
                                    {
                                        <div class="greenCrossCase" id="Case_@i">@i</div>
                                    }
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase bottom"></div>
                                </div>
                                <div class="greenCrossRow">
                                    <div class="greenCrossCase hiddenCase"></div>
                                    <div class="greenCrossCase hiddenCase left"></div>
                                    <div class="greenCrossCase bottomleft"></div>
                                    <div class="greenCrossCase"></div>
                                    <div class="greenCrossCase bottomright"></div>
                                    <div class="greenCrossCase hiddenCase right"></div>
                                    <div class="greenCrossCase hiddenCase"></div>
                                </div>
                            }

                        </div>
                        <h4 id="securiteTitle">Securite</h4>
                    </div><!-- là où sera affichée la green cross -->

                    <div id="infos-securite">

                        <!-- ici -->
                        <div id="DivCases">
                            <div class="boxCounter">
                                <div class="thumbnailCounter">
                                    <img src="../image/sablier.png" alt="" class="imgIndicateur">
                                </div>
                                <div class="counterContent">
                                    <h3>Nombre de Jours sans accidents</h3>
                                    <p id="cpt1" initvalue="@Model.NbJourSansAccident"><span>0</span></p>
                                </div>
                            </div>

                            <div class="boxCounter">
                                <div class="thumbnailCounter">
                                    <img src="../image/coupe.png" alt="" class="imgIndicateur">
                                </div>
                                <div class="counterContent">
                                    <h3>Record de Jours sans accidents</h3>
                                    <p id="cpt2" initvalue="@Model.RecordSansAccident"><span>0</span></p>
                                </div>
                            </div>


                        </div>


                        <div class="enSavoirPlusContainer centered">
                            <a href="../Production/Securite">
                                <img class="enSavoirPlusPic" src="~/image/en-savoir-plus-2.png" />
                                <div class="centered-text-on-pic">
                                    En savoir +
                                </div>
                            </a>
                        </div>

                    </div> <!-- là où sera affiché les informations de sécurité -->

                </div>
                <div id="qualite">
                    <div id="Q-cross">
                        <h3 id="Q-CrossTitle">Q-Cross</h3>
                        <div id="Q-Cross">
                            <!-- 8 lignes x 9 colonnes -->
                            <div class="Q-CrossRow">
                                <!-- ligne 1 -->
                                <div class="Q-CrossCase left top bottom right arrondi-hg bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[0].Couleurstring)">1</div>

                                @for (int i = 1; i <= 4; i++)
                                {
                                    <div class="Q-CrossCase top bottom right bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[i].Couleurstring)">
                                        @(i+1)
                                    </div>
                                }

                                <div class="Q-CrossCase top bottom right bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[5].Couleurstring)">6</div>
                                <div class="Q-CrossCase top bottom right arrondi-hd bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[6].Couleurstring)">7</div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                            </div>
                            <div class="Q-CrossRow">
                                <!-- ligne 2 -->
                                <div class="Q-CrossCase left bottom right bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[7].Couleurstring)">8</div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase right"></div>
                                <div class="Q-CrossCase right bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[8].Couleurstring)">9</div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                            </div>
                            <div class="Q-CrossRow">
                                <!-- ligne 3 -->
                                <div class="Q-CrossCase left right bottom bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[9].Couleurstring)">10</div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase right"></div>
                                <div class="Q-CrossCase top right bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[10].Couleurstring)">11</div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                            </div>
                            <div class="Q-CrossRow">
                                <!-- ligne 4 -->
                                <div class="Q-CrossCase left right bottom bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[11].Couleurstring)">12</div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase right"></div>
                                <div class="Q-CrossCase top right bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[12].Couleurstring)">13</div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                            </div>
                            <div class="Q-CrossRow">
                                <!-- ligne 5 -->
                                <div class="Q-CrossCase left right bottom bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[13].Couleurstring)">14</div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase right"></div>
                                <div class="Q-CrossCase top right bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[14].Couleurstring)">15</div>
                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                            </div>
                            <div class="Q-CrossRow">
                                <!-- ligne 6 -->
                                <div class="Q-CrossCase left right bottom bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[15].Couleurstring)">16</div>
                                <div class="Q-CrossCase bottom"></div>
                                <div class="Q-CrossCase bottom"></div>
                                <div class="Q-CrossCase bottom"></div>
                                <div class="Q-CrossCase bottom"></div>
                                <div class="Q-CrossCase right bottom"></div>
                                <div class="Q-CrossCase top bottom right bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[16].Couleurstring)">17</div>
                                <div class="Q-CrossCase "></div>
                                <!--
                        -->
                                <div class="Q-CrossCase"></div>
                                <!--
                        -->
                            </div>
                            <div class="Q-CrossRow">
                                <!-- ligne 7 -->

                                <div class="Q-CrossCase left right bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[17].Couleurstring)">18</div>
                                <div class="Q-CrossCase bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[18].Couleurstring)">19</div>
                                <div class="Q-CrossCase left right bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[19].Couleurstring)">20</div>

                                @for (int i = 20; i <= 23; i++)
                                {
                                    <div class="Q-CrossCase right bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[i].Couleurstring)">@(i+1)</div>
                                }

                                <div class="Q-CrossCase"></div>
                                <div class="Q-CrossCase"></div>
                            </div>
                            <div class="Q-CrossRow">
                                <!-- ligne 8 -->
                                <div class="Q-CrossCase top"></div>
                                <div class="Q-CrossCase top"></div>
                                <div class="Q-CrossCase left top right bottom arrondi-bg bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[24].Couleurstring)">25</div>

                                @for (int i = 25; i <= 29; i++)
                                {


                                    if (Model.CasesQcross[i].Visible.Equals(false))
                                    {
                                        <div class="Q-CrossCase right top bottom bg-case jour-inexistant  )"></div>
                                    }
                                    else
                                    {
                                        <div class="Q-CrossCase right top bottom bg-case  cliquable @Html.DisplayFor(model => Model.CasesQcross[i].Couleurstring)">@(i+1)</div>
                                    }

                                }
                                @if (Model.CasesQcross[30].Visible.Equals(false)) //on test si il y a une instance de définie ou non
                                {
                                    <div class="Q-CrossCase top right bottom arrondi-bd arrondi-hd-bd bg-case jour-inexistant  )"></div> //pas d'instance donc case noire => le jour n'est pas présent dans le mois courant
                                }
                                else
                                {
                                    <div class="Q-CrossCase top right bottom arrondi-bd arrondi-hd-bd bg-case cliquable @Html.DisplayFor(model => Model.CasesQcross[30].Couleurstring)"> 31 </div>//une instance donc on recupere la couleur de la case
                                }
                            </div>
                        </div>
                        <h4 id="qualiteTitle">Qualité</h4>
                    </div> <!-- là où sera la Q-cross -->
                    <div id="infos-qualite">
                        <div id="chartDataFrcParService1" legend="false">
                            <ul>
                                @foreach (var frc in Model.DataFrcParService)
                                {
                                    <li>@frc.Key:@frc.Value.backgroundColor:@frc.Value.borderColor:@frc.Value.Data[0]:@frc.Value.Data[1]:@frc.Value.Data[2]:@frc.Value.Data[3]:@frc.Value.Data[4]:@frc.Value.Data[5]:@frc.Value.Data[6]:@frc.Value.Data[7]:@frc.Value.Data[8]:@frc.Value.Data[9]:@frc.Value.Data[10]:@frc.Value.Data[11]:@frc.Value.Type:</li>
                                }
                            </ul>
                        </div>
                        <div id="chartNbFrcParService-container">
                            <canvas id="chartNbFrcParService"></canvas>
                        </div>
                        <div class="enSavoirPlusContainer centered">
                            <a href="../Production/Qualite">
                                <img class="enSavoirPlusPic" src="~/image/en-savoir-plus-2.png" />
                                <div class="centered-text-on-pic">
                                    En savoir +
                                </div>
                            </a>
                        </div>
                    </div><!-- là où sera les informations usr-->

                </div>
            </div>
            <hr />
            <div id="production-idee">
                <!-- deuxieme ligne colonne de gauche -->
                <div id="Plannif">
                    <div id="Plannif-left">
                        <img src="~/image/conception-planification.png" id="Plannif-pic" width="150" alt="img-plannification" />
                        <h4 id="Plannif-leftTitle">Plannification</h4>
                    </div>
                    <div id="Plannif-right">
                        <a href="@Url.Action("AffectationOperateurs", "Production")" class="Plannif-link">Affectation aux Pôles</a>
                    </div>
                </div>
                <div id="idee">
                    <div id="idee-left">
                        <img src="~/image/OTD.png" id="otd-pic" />
                        <h4 id="idee-leftTitle">OTD</h4>
                    </div>
                    <div id="idee-right">
                        <div id="DivCases">
                            <div class="boxCounter">
                                <div class="thumbnailCounter">
                                    <img src="../image/sablier.png" alt="" class="imgIndicateur">
                                </div>
                                <div class="counterContent">
                                    <h3>OTD Hebdomadaire</h3>
                                    <p id="OTDcpt1" initvalue="@Model.OTDHebdomadaire"><span>0</span></p>
                                </div>
                            </div>

                            <div class="boxCounter">
                                <div class="thumbnailCounter">
                                    <img src="../image/coupe.png" alt="" class="imgIndicateur">
                                </div>
                                <div class="counterContent">
                                    <h3>OTR Hebdomadaire</h3>
                                    <p id="OTDcpt2" initvalue="@Model.OTRHebdomadaire"><span>0</span></p>
                                </div>
                            </div>


                        </div>
                        <div class="enSavoirPlusContainer centered">
                            <a href="../Production/KPIProd">
                                <img class="enSavoirPlusPic" src="~/image/en-savoir-plus-2.png" />
                                <div class="centered-text-on-pic">
                                    En savoir +
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div id="otd-AIC">
                <!-- troisième ligne colonne de gauche -->
                <div id="idee">
                    <div id="production-left">
                        <img src="~/image/idea.png" id="meeting">
                        <h4 id="prof-left-title">Amélioration</h4>
                    </div>

                    <div id="production-right">
                        <div class="boxCounter">
                            <div class="thumbnailCounter">
                                <img src="../image/sablier.png" alt="" class="imgIndicateur">
                            </div>
                            <div class="counterContent">
                                <h3>Nb amélioration derniers mois</h3>
                                <p id="AMcpt1" initvalue="@Model.NbAmeliorationDernierMois" class="ValueCase"><span>0</span></p>
                            </div>
                        </div>

                        <div class="boxCounter">
                            <div class="thumbnailCounter">
                                <img src="../image/coupe.png" alt="" class="imgIndicateur">
                            </div>
                            <div class="counterContent">
                                <h3>Nb d'améliorations production sur l'année</h3>
                                <p id="AMcpt2" initvalue="@Model.NbAmeliorationProduction" class="ValueCase"><span>0</span></p>
                            </div>
                        </div>

                        <div class="boxCounter" id="SereniteStat">
                            <div class="thumbnailCounter">
                                <img src="../image/pouce_en_haut.png" alt="" class="imgIndicateur">
                            </div>
                            <div class="counterContent">
                                <h3>Nb d'améliorations se sécurité</h3>
                                <p id="AMcpt3" initvalue="@Model.NbAmeliorationProductionsecurite" class="ValueCase"><span>0</span></p>
                            </div>
                        </div>
                        <div class="enSavoirPlusContainer centered">
                            <a href="../Production/Amelioration">
                                <img class="enSavoirPlusPic" src="~/image/en-savoir-plus-2.png" />
                                <div class="centered-text-on-pic">
                                    En savoir +
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="AIC">
                    <div id="AIC-left">
                        <img src="~/image/AIC.png" id="AIC-pic" width="150" alt="Alternate Text" />
                        <h4 id="AIC-leftTitle">AIC2</h4>
                    </div>
                    <div id="AIC-right">
                        <a href="@Url.Action("AIC2", "Production", new {id =1  })" class="Plannif-link">AIC 2 - Monodirectionnel</a>
                        <a href="@Url.Action("AIC2", "Production", new {id =2  })" class="Plannif-link">AIC 2 - Bidirectionnel</a>
                        <a href="@Url.Action("DataQRQC", "Production", null)" class="Plannif-link">QRQC</a>
                    </div>
                </div>
            </div>
            <hr />
            <div id="production">
                <div id="production-left">
                    <img src="~/image/serenite.png" id="serenite-pic">
                    <h4 id="prof-left-title">Sérénité</h4>
                </div>

                <div id="production-right">
                    <div class="boxCounter" id="SereniteStat">
                        <div class="thumbnailCounter">
                            <img src="../image/pouceVert.png" alt="" class="imgIndicateur">
                        </div>
                        <div class="counterContent">
                            <h3>Moyenne de notes positives</h3>
                            <p id="cpt3" initvalue="@Model.NbHumeurPositiveString"><span>- -%</span></p>
                        </div>
                    </div>
                    <div class="enSavoirPlusContainer centered">
                        <a href="../Production/serenite">
                            <img class="enSavoirPlusPic" src="~/image/en-savoir-plus-2.png" />
                            <div class="centered-text-on-pic">
                                En savoir +
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="newsletter">
            <!-- colonne de droite  -->
            <embed id="pdfNewsletter" src=@Model.PDFAAfficher>
            @*<embed id="pdfNewsletter" src="~/DIFF_GEN/SECURITE/JAY%20La%20sécurite%202021%20-%20Novembre.pdf#zoom=78" />*@

        </div>
    </main>
    <script type="text/javascript" src="~/Scripts/move.js"></script>
    <script type="text/javascript" src="~/Scripts/chart.js"></script>
    <script type="text/javascript" src="~/Scripts/compteursGreenCross.js"></script>
    <script type="text/javascript" src="~/Scripts/chartNbFrcParService.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="~/Scripts/clock.js"></script>
    <script type="text/javascript" src="~/Scripts/CountDown.js"></script>
    <script type="text/javascript" src="~/Scripts/CountDown2.js"></script>
    <script type="text/javascript" src="~/Scripts/ReloadTimer.js"></script>
</body>

