@model GenerateurDFUSafir.Models.GestionTraitementOFs
@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Accueil/Accueil.css" rel="stylesheet" />
    int i = Model.DataOperateurs.Count % 5;
}

<body>
    <div class="main">
        <div class="present">
            <p>Bienvenue dans</p>
            <h2>INTRANET</h2>
            <h1>Conductix Wampfler</h1>
            <p>Le mot d’ordre est votre sécurité, ainsi que la mienne, <br /> et celle de tout le monde en même temps, ça serait cool.</p>
        </div>


        <div id="fabrizen">
            <div id="ListOperateur">
                @foreach (var item in @Model.DataOperateurs)
                {
                    string lien = !item.isValidPasswd
                        ? Url.Action("DefinirMDP", "Production", new { id = item.ID })
                        : Url.Action("ConnexionOp", "Production", new { id = item.ID });


                    <div class="Operateur">
                        <a href="@lien">
                            <img src="@Url.Content(item.Photo)" />
                            <div id="ctn-id">
                                <p>@item.Nom</p>
                                <p>@item.Prenom</p>
                            </div>
                        </a>
                    </div>
                }

                @for (int y = 0; y < @i; y++)
                {
                    <div style="width : 300px;">

                    </div>
                }
            </div>
        </div>
    </div>

</body>
